node_modules
.tmp
.idea
npm-debug.log
tmp
.projects

screenshots
videos
out.js
examples/*/cypress/logs
examples/*/cypress/downloads
snapshots.js
.nyc_output
coverage
dist
test-data.json
examples/*/data.json